.button-explore {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  padding-inline: 48px;
  margin-top: 40px;
  height: 56px;
  width: 100%;
  max-width: 278px;

  background-color: $main-text-color;
  color: $menu-text-color;
  border-radius: 40px;
  border: none;

  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  line-height: 27px;
  text-transform: capitalize;
  white-space: nowrap;

  cursor: pointer;
  transition: all $transition-speed;
  box-shadow: 0 2px 8px rgba(232, 232, 240, 0);

  grid-column: 1 / -1;
  justify-self: center;

  @include on-tablet {
    grid-column: 2 / span 4;
    justify-self: center;
    width: 100%;
    min-width: 0;
    max-width: 392px;
  }

  @include on-desktop {
    grid-column: 5 / span 4;
  }

  &:hover {
    background-color: $main-text-color;
    transform: translateY(-2px);
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    transform: translateY(0);
    background-color: $main-text-color;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
