.contacts {
  font-family: $font-family;
  display: grid;
  margin-bottom: 200px;

  @include on-tablet {
    margin-bottom: 480px;
  }

  @include on-desktop {
    margin-bottom: 555px;
  }

  &__content {
    @include page-grid;

    margin-bottom: 120px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 466px;
    box-sizing: border-box;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    &--message {
      margin-bottom: 32px;
    }
  }

  &__input {
    box-sizing: border-box;
    padding: 14px 16px;
    width: 100%;
    background-color: $contacts-background-color;
    border: 1px solid transparent;
    border-radius: 40px;
    color: $contacts-input-color;
    height: 48px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    transition: all $transition-speed;

    &--textarea {
      border-radius: 16px;
      height: 148px;
      width: 100%;
      resize: none;
      display: block;
      box-sizing: border-box;

      &::placeholder {
        vertical-align: top;
      }
    }

    &::placeholder {
      color: $contacts-placeholder-color;
      opacity: 1;
    }

    &:hover {
      border-color: $contacts-hover-border-color;
    }

    &:focus {
      border-color: $contacts-input-color;
      background-color: $main-text-color;
    }
  }

  &__submit {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    font-family: $font-family;
    gap: 24px;

    grid-column: 1 / -1;

    @include on-tablet {
      margin-top: 0;
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }

    &-item {
      display: flex;
      flex-direction: column;
      font-family: $font-family;
      line-height: 140%;
      gap: 8px;
      color: $main-text-color;
    }

    &-label {
      font-weight: 400;
      font-size: 14px;
    }

    &-value {
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      font-style: normal;
      color: $main-text-color;
      transition: color $transition-speed;

      &:hover {
        color: $contacts-hover-text-color;
      }

      &--address {
        line-height: 140%;
      }
    }
  }
}
