.section-title {
  margin: 0;
  margin-bottom: 32px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--align--left {
    text-align-last: left;
  }

  &__compare-bikes {
    margin-top: 92px;
    white-space: nowrap;
  }

  &__details {
    margin-top: 92px;
  }

  &__contacts {
    margin-top: 80px;

    @include on-tablet {
      margin-top: 120px;
      margin-bottom: 48px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }
}
