.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0;

  @include on-tablet {
    padding-block: 64px;
    padding-top: 34px;
  }

  @include on-desktop {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 34px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    display: flex;
    width: 130px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
    }

    &-menu {
      width: 130px;

      @include on-desktop {
        width: 187px;

        @include hover(transform, scale(1.2));
      }
    }
  }

  &__phone {
    &-link {
      position: relative;
    }

    &-number {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(10px);
      opacity: 0;
      white-space: nowrap;
      padding: 5px 20px;
      font-family: $font-family;
      font-weight: 700;
      font-size: 12px;
      color: $main-text-color;
      transition:
        opacity $transition-speed,
        transform $transition-speed;
    }

    @include on-desktop {
      &-link:hover &-number {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
      }
    }
  }
}
