$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-text-color: #fff;
$menu-text-color: #1d1d1d;
$contacts-input-color: #292929;
$contacts-background-color: #f8f8fa;
$contacts-placeholder-color: #7e7e83;
$contacts-hover-border-color: #d5d7de;
$menu-background-color: #c2c2c2;
$menu-top-background-color: #e5e5e5;
$contacts-hover-text-color: #007bff;
$effectDuration: 0.3s;
$transition-speed: $effectDuration ease;
$font-family: 'Poppins', sans-serif;
